@media(max-width:768px){
    body{
        background-color: transparent;
    } 
    .wrapper{
        margin: 0;
        padding: 0;
        background-image: none;
    }
    .title{
        font-size: 23px;
    }
    .header{
        margin-bottom: 140px;
        padding-top: 30px;
        &__inner{
            margin-bottom: 80px;
            padding-bottom: 120px;
        }
        &__top{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
        }
        &__logo{
            margin-bottom: 20px;
        }
        &__decor{
            &--first{
                top: -35px;
                right: -30px;
                width: 140px;
            }
            &--second{
                right: -85px;
                bottom: -90px;
                width: 180px;
            }
            &--three{
                left: -35px;
                bottom: -185px;
                width: 220px;
            }
        }
    }
    .logo{
        &__img{
            width: 40px;
        }
        &__text{
            font-size: 16px;
        }
    }
    .nav{
        &__link{
            border-bottom: 2px solid transparent;
            font-size: 14px;
            &:hover{
                border-bottom: 2px solid #df8f9d;
            }
        }
    }
    .slider{
        &__descr{
            font-size: 13px;
        }
        &__btn{
            padding: 7px 35px;
            font-size: 13px;
        }
        &__img{
            width: 400px;
            margin-right: -20px;
        }
        &__btn-arrow{
            &--prev{
                top: 120px;
                left: 250px;
            }
            &--next{
                top: 120px;
                left: 280px;
            }
        }
    }
    .catalog{
        margin-bottom: 170px;
        &__title{
            margin-bottom: 30px;
        }
        &__menu{
            justify-content: center;
            margin-right: 0;
            margin-bottom: 30px;
        }
        &__menu-link{
            font-size: 14px;
            &:last-child{
                margin-right: 0;
            }
        }
        &__list{
            grid-template-columns: 1fr;
            grid-gap: 15px;
            align-self: center;
        }
        &__decor{
            left: 10px;
            bottom: -175px;
            width: 320px;
        }
    }
    .product{
        margin: 0 auto;
        &__title{
            font-size: 19px;
        }
        &__btn{
            padding: 7px 20px;
            font-size: 16px;
        }
        &__decor{
            &--second{
                top: 1300px;
                right: 70px;
                width: 80px;
            }
        }
    }
    .about{
        margin-bottom: 120px;
        &__item{
            display: flex;
            justify-content: space-between;
            width: 100%;
            max-width: 500px;
            margin: 0 auto 20px !important; 
            &:nth-child(1), &:nth-child(2){
                margin-bottom: 0;
            }
            &:nth-child(2n){
                & .about__item-img{
                    order: 2;
                }
                & .about__item-descr{
                    order: 1;
                }
            }
        }
        &__item-img{
            width: 140px;
        }
        &__item-descr{
            width: 300px;
        }
        &__decor{
            left: -25px;
            bottom: -115px;
            height: 140px;
        }
    }
    .callback{
        margin-bottom: 80px;
        &__title{
            margin-bottom: 120px;
        }
        &__decor{
            display: none;
        }
    }
    .callback-form{
        width: 560px;
        height: 400px;
        &__inner{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 20px;
        }
        &__input{
            width: 380px;
            height: 40px;
            margin-bottom: 20px;
        }
        &__btn{
            padding: 10px 50px;
            font-size: 16px;
        }
        &__decor{
            &--left{
                top: -80px;
                left: 10px;
                width: 180px;
            }
            &--right{
                right: 5px;
                bottom: 100px;
                width: 90px;
            }
        }
    }
    .footer{
        padding: 40px 0 30px;
        &__social{
            margin-left: 150px;
        }
        &__social-title{
            margin-bottom: 10px;
            font-size: 14px;
        }
        &__social-list{
            display: grid;
            grid-template-columns: 50% 50%;
            grid-row: auto auto;
            grid-gap: 5px;
        }
        &__social-link{
            display: flex;
            justify-content: center;
            align-items: center;
            &:not(:last-child){
                margin-right: 0;
            }
        }
        &__social-img{
            max-width: 20px;
            max-height: 20px;
        }
        &__contacts-item{
            font-size: 14px;
            &:not(:last-child){
                margin-bottom: 10px;
            }
        }
        &__decor{
            top: -60px;
            left: -10px;
            width: 150px;
        }
    }
}
@media(max-width:375px){
    .title{
        font-size: 13px;
    }
    .header{
        margin-bottom: 30px;
        padding-top: 15px;
        &__inner{
            padding-bottom: 70px;
        }
        &__decor{
            &--first{
                top: -20px;
                right: -13px;
                width: 60px;
            }
            &--second{
                right: -40px;
                bottom: -30px;
                width: 93px;
            }
            &--three{
                left: -20px;
                bottom: -90px;
                width: 110px;
            }
        }
    }
    .logo{
        &__img{
            width: 20px;
        }
        &__text{
            font-size: 8px;
        }
    }
    .nav{
        margin-right: 0;
        &__link{
            border-bottom: 1px solid transparent;
            font-size: 8px;
            &:hover{
                border-bottom: 1px solid #df8f9d;
            }
        }
    }
    .slider{
        &__title{
            margin-bottom: 5px;
        }
        &__descr{
            font-size: 8px;
        }
        &__btn{
            padding: 3px 15px;
            font-size: 6px;
        }
        &__btn-arrow{
            &--prev{
                top: calc(100% + 26px);
                left: calc(50% - 25px);
            }
            &--next{
                top: calc(100% + 26px);
                left: 50%;
            }
        }
        &__img{
            width: 202px;
            margin-right: -10px;
        }
    }
    .catalog{
        margin-bottom: 40px;
        &__title{
            margin-bottom: 5px;
        }
        &__menu{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
        }
        &__menu-link{
            border-bottom: 1px solid transparent;
            margin-right: 0;
            font-size: 10px;
            &:hover{
                border-bottom: 1px solid #df8f9d;
            }
        }
        &__decor{
            left: 5px;
            bottom: -80px;
            width: 103px;
        }
    }
    .product{
        max-width: 300px;
        &__img{
            width: 140px;
        }
        &__inner{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__title{
            margin-bottom: 25px;
            padding-left: 0;
            font-size: 13px;
        }
        &__descr{
            margin-bottom: 35px;
            padding-left: 5px;
            padding-right: 5px;
            font-size: 5px;
        }
        &__btn{
            padding: 5px 15px;
            font-size: 10px;
        }
        &__decor{
            z-index: 10;
            &--first{
                display: block;
                top: 75px;
                right: 15px;
                width: 45px;
            }
            &--second{
                top: 730px;
                right: 20px;
                width: 40px;
            }
        }
    }
    .about{
        margin-bottom: 70px;
        &__list{
            padding: 0;
        }
        &__item{
            max-width: 300px;
        }
        &__item-img{
            width: 110px;
        }
        &__item-descr{
            width: 160px;
            font-size: 9px;
        }
        &__decor{
            left: auto;
            right: -17px;
            bottom: -65px;
            height: 73px;
        }
    }
    .callback{
        margin-bottom: 45px;
        &__title{
            margin-bottom: 65px;
        }
        &__decor{
            display: none;
        }
    }
    .callback-form{
        width: 245px;
        height: 177px;
        background-size: 100%;
        &__inner{
            margin-bottom: 10px;
        }
        &__input{
            max-width: 150px;
            height: 24px;
            margin-bottom: 10px;
            font-size: 7px;
            &::placeholder{
                font-size: 7px;
            }
        }
        &__btn{
            padding: 5px 30px;
            font-size: 7px;
        }
        &__decor{
            &--left{
                top: -45px;
                left: -5px;
                width: 97px;
            }
            &--right{
                width: 44px;
                right: 0;
                bottom: 45px;
            }
        }
    }
    .footer{
        padding: 20px 0 15px;
        &__social{
            margin-left: 80px;
            margin-right: 15px;
        }
        &__social-title{
            margin-bottom: 5px;
            font-size: 6px;
        }
        &__social-link{
            &:not(:last-child){
                margin-right: 0;
            }
        }
        &__social-img{
            max-width: 10px;
            max-height: 10px;
        }
        &__logo{
            align-self: flex-end;
            margin-right: 20px;
        }
        &__contacts-item{
            font-size: 6px;
            &:not(:last-child){
                margin-bottom: 5px;
            }
        }
        &__decor{
            top: -30px;
            left: -10px;
            width: 71px;
            height: 99px;
        }
    }
}