@font-face {
    font-family: "Marker Felt Wide";
    font-style: normal;
    font-weight: 400;
    src: 
        url("/fonts/MarkerFeltWide.woff2") format("woff2"),
        url("/fonts/MarkerFeltWide.woff") format("woff");
}  
html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    margin: 0;
    background-color: #fcf0f3;
    font-family: 'Montserrat', sans-serif;
}
img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
a{
    text-decoration: none;
}
.wrapper{
    max-width: 1270px;
    margin: 70px auto 100px;
    padding: 0 15px;
    background-color: #fff;
    background-image: url(../img/header-bg-top.png);
    background-position: top right;
    background-repeat: no-repeat;
    overflow: hidden;
}
.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
.list-reset{
    margin: 0;
    padding: 0;
    list-style: none;
}
.center{
    display: flex;
    justify-content: center;
}
.title{
    margin: 0;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    color: #df8f9d;
}
.btn{
    border: 0;
    padding: 0;
    background-color: #9af48b;
    font-family: 'Montserrat', sans-serif;
    color: #2d2d2b;
    box-shadow: 10px 10px 15px rgba(0,0,0,.15);
    transition: transform .3s ease-in-out;
    cursor: pointer;
    &:hover{
        transform: translateY(-2px);
    }
}
.header{
    position: relative;
    margin-bottom: 175px;
    padding-top: 60px;
    &__inner{
        position: relative;
        border: 3px solid #9af48b;
        padding-bottom: 185px;
        padding-left: 35px;
    }
    &__top{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 125px;
        padding: 10px 0;
    }
    &__decor{
        position: absolute;
        &--first{
            top: -50px;
            right: -50px;
        }
        &--second{
            right: -140px;
            bottom: -160px;
        }
        &--three{
            left: -160px;
            bottom: -380px;
        }
    }
}
.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__img{
        max-width: 68px;
    }
    &__text{
        font-weight: 500;
        font-size: 27px;
        text-transform: uppercase;
        color: #4f4f4f;
    }
}
.nav{
    position: relative;
    margin-right: 95px;
    z-index: 10;
    &__link{
        border-bottom: 3px solid transparent;
        font-weight: 500;
        font-size: 27px;
        text-transform: uppercase;
        color: #4f4f4f;
        transition: border-bottom .3s ease-in-out;
        &:not(:last-child){
            margin-right: 15px;
        }
        &:hover{
            border-bottom: 3px solid #df8f9d;
        }
    }
}
.slider{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    &__inner{
        display: flex;
        flex-direction: column;
    }
    &__title{
        margin-bottom: 15px;
    }
    &__descr{
        margin: 0;
        margin-bottom: 45px;
        font-size: 25px;
        text-transform: uppercase;
        color: #2d2d2b;
    }
    &__btn{
        padding: 10px 50px;
        font-weight: 400;
        font-size: 20px;
        color: #2d2d2b;
    }
    &__img{
        margin-right: -35px;
    }
}
.catalog{
    position: relative;
    margin-bottom: 250px;
    &__title{
        margin-bottom: 50px;
    }
    &__menu{
        display: flex;
        justify-content: flex-end;
        margin-right: 40px;
        margin-bottom: 55px;
    }
    &__menu-link{
        border-bottom: 3px solid transparent;
        margin-right: 60px;
        font-weight: 500;
        font-size: 26px;
        text-transform: uppercase;
        transition: border-bottom .3s ease-in-out;
        color: #000;
        &:hover{
            border-bottom: 3px solid #df8f9d;
        }
    }
    &__list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
    }
    &__decor{
        position: absolute;
        left: -75px;
        bottom: -265px;
    }
}
.product{
    position: relative;
    display: flex;
    max-width: 550px;
    z-index: 10;
    &__img{
        margin-right: 5px;
    }
    &__inner{
        border: 2px solid #9af48b;
        border-left: 0;
        padding: 35px 0;
    }
    &__title{
        margin: 0;
        margin-bottom: 50px;
        padding-left: 40px;
        font-family: 'Marker Felt Wide', sans-serif;
        font-size: 23px;
        color: #df8f9d;
    }
    &__descr{
        margin: 0;
        margin-bottom: 65px;
        padding-left: 30px;
        padding-right: 20px;
        font-weight: 500;
        font-size: 9px;
        color: #000;
    }
    &__btn{
        padding: 10px 30px;
        font-weight: 400;
        font-size: 18px;
        text-transform: uppercase;
    }
}
.about{
    position: relative;
    margin-bottom: 240px;
    &__title{
        margin-bottom: 30px;
    }
    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 110px;
    }
    &__item{
        display: flex;
        align-items: center;
        max-width: 460px;
        &:nth-child(1), &:nth-child(2){
            margin-bottom: 90px;
        }
    }
    &__item-img{
        margin-right: 10px;
    }
    &__item-descr{
        margin: 0;
        font-weight: 500;
        font-size: 13px;
        color: #000;
    }
    &__decor{
        position: absolute;
        left: -110px;
        bottom: -220px;
    }
}
.callback{
    position: relative;
    margin-bottom: 170px;
    &__title{
        margin-bottom: 180px;
    }
    &__decor{
        position: absolute;
        top: -470px;
        right: -100px;
    }
}
.callback-form{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 834px;
    height: 600px;
    margin: 0 auto;
    background-image: url(../img/callback-bg.png);
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    &__inner{
        margin-bottom: 30px;
    }
    &__input{
        width: 100%;
        max-width: 520px;
        height: 80px;
        border: 0;
        margin-bottom: 30px;
        padding-left: 15px;
        background-color: #fff;
        font-weight: 400;
        font-size: 23px;
        text-transform: uppercase;
        color: #000;
        &::placeholder{
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 23px;
            color: #2d2d2b;
        }
    }
    &__btn{
        padding: 20px 90px;
        font-weight: 400;
        font-size: 23px;
    }
    &__decor{
        position: absolute;
        &--left{
            top: -160px;
            left: -10px;
        }
        &--right{
            right: 5px;
            bottom: 155px;
        }
    }
}
.footer{
    background-color: #ffd6dd;
    margin: 0 -15px;
    padding: 60px 0 65px;
    &__inner{
        position: relative;
        display: flex;
    }
    &__social{
        margin-left: 200px;
        margin-right: 60px;
    }
    &__social-title{
        margin: 0;
        margin-bottom: 50px;
        font-weight: 400;
        font-size: 19px;
        text-transform: uppercase;
        color: #000;
    }
    &__list{
        display: flex;
    }
    &__social-link{
        &:not(:last-child){
            margin-right: 20px;
        }
    }
    &__logo{
        align-self: flex-end;
        margin-right: 20px;
    }
    &__contacts-item{
        margin: 0;
        font-weight: 400;
        font-size: 19px;
        letter-spacing: -1px;
        &:not(:last-child){
            margin-bottom: 20px;
        }
    }
    &__decore{
        position: absolute;
        top: -75px;
        left: -160px;
    }
}
@import "./media";